
.DS_Store
*.iml

# Vagrant
.vagrant

# download tmp files
jdk-*-linux-x64.tar.gz
jce_policy-*.zip
*.aria2

*.retry
src/main/cloud/roles/oss-docker-install
src/main/docker
src/main/playbook/**/roles
src/main/raw/roles/oss-docker-install
